.marquee{
  background-color: #288A89;
  padding: 30px 0;
  color: white;
  font-family: "Londrina Outline", sans-serif;
}

.marquee-section {
  overflow: hidden;
  width: 100%;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee-content {
  display: flex;
}

.marquee-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  padding-left: 20px;
}

.marquee-item h4{
  font-size: 136px;
}

.marquee-item img {
  height: 100px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
