.process-section{
  background-color: #111d20 !important;
}
.process-card{
  background-color: #253233;
  transition: all 0.3s linear;
}
.solutions-card:hover{
  background-color: #288A89;
  color: white;
}

.process-serial{
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 98px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: bolder;
  z-index: 1;
  color: #33aaaa;
  background-color: #111d20;
}
.process-serial::before{
  content: "";
  position: absolute;
  inset-inline-end: -8px;
  top: 0;
  width: 8px;
  height: 8px;
  background: url("../../../../public/images/round-deco-dark.svg");
  transform: rotate(0deg);
}
.process-serial::after{
  content: "";
  position: absolute;
  inset-inline-start: auto;
  top: auto;
  inset-inline-end: 0;
  bottom: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  background: url("../../../../public/images/round-deco-dark-2.svg");
  transform: rotate(180deg);
}



.solutions-card svg{
  transition: all 0.3s linear;
}
.solutions-card:hover svg{
  fill: white;
}


.process-icon-wrapper{
  width: 90px;
  height: 90px;
  background-color: #288A89;
}
.process-icon-wrapper{
  transition: all 0.3s linear;
}
.solutions-card:hover .process-icon-wrapper{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
    backdrop-filter: blur(15px);
}

.process-glow-bg{
  bottom: -550px;
  left: 0;
}

.sticky-card{
  transition: opacity 0.1s linear;
}


.sticky-card.is-sticked{
  opacity: 0.5;
}