.heroPara::before{
  content: "";
  position: absolute;
  left: 0;
  top: -18px;
  width: 85%;
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.heroPara::after{
  content: "";
  position: absolute;
  background-color: gray;
  left: 0;
  top: -18px;
  width: 9%;
  height: 3px;
  border-radius: 10px;
}