.category{
  background-color: #D7E4E4;
}
.category.active{
  background-color: #288A89;
  color: white;
  font-weight: bold;
}

.projects-img{
  transition: all 0.2s linear;
}
.projectCardContainer:hover img{
  scale: 1.1;
}